<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" monitorInterval="300">
    <Properties>
        <property name = "pattern_file">%d{HH:mm:ss.SSS} [%t] %-5level %logger{5}- %msg%n</property>
        <property name = "patternRoll">logroll/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}_%i.txt</property>
    </Properties>


<Appenders>

    <Console name="ConsoleAppender"
             target="SYSTEM_OUT">
        <PatternLayout pattern="${pattern_file}"/>
    </Console>

    <File name="FileAppender"
          fileName="logs/application-${date:yyyyMMdd}.txt"
          bufferedIO="true"
          append="false">
        <PatternLayout pattern="${pattern_file}"/>
    </File>


    <RollingFile name = "RollingFile"
                 filename = "logroll/application-${date:yyyyMMdd}.txt"
                 append="true"
                 filePattern="${patternRoll}">
        <PatternLayout pattern="${pattern_file}"/>

        <Policies>
            <TimeBasedTriggeringPolicy interval="4"/>
            <SizeBasedTriggeringPolicy size="1 B"/>
        </Policies>
        <DefaultRolloverStrategy max="2"/>

    </RollingFile>

<!--___________________________________-->
</Appenders>
<Loggers>

<!--    <Logger name="bookstore/controller/App" level="debug" additivity="false">-->
<!--        <AppenderRef ref="ConsoleAppender" />-->
<!--        <AppenderRef ref="FileAppender" />-->
<!--    </Logger>-->

<!--    <Logger name="Log_File" level="error" additivity="false">-->
<!--        <AppenderRef ref="FileAppender" />-->
<!--    </Logger>-->

    <Logger name="bookstore/controller/App"
            level="info"
            additivity="false">
        <AppenderRef ref="RollingFile" />
    </Logger>

    <Root level="error">
        <AppenderRef ref="FileAppender" />
    </Root>

</Loggers>
</Configuration>